@model FamilyDataModel

<h1>Family</h1>

@* @if (ViewData["Title2"] != null)
{
    <p>@ViewData["Title2"]</p>
    <p>@(ViewBag.Number + 1 + Convert.ToInt32(TempData["Number"]))</p>
} *@

@* @if(TempData["IsSuccess"] != null)
{
    bool isSuccess = Convert.ToBoolean(TempData["IsSuccess"]);
    if (isSuccess)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Message"]
        </div>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            @TempData["Message"]
        </div>
    }
} *@

<partial name="_ValidateMessage" />

<form method="post" action="/Family/Update/@Model.FamilyId">
    <div class="mb-3">
        <label class="form-label">Parent Name</label>
        <input type="text" name="ParentName" value="@Model.ParentName" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Son Name</label>
        <input type="text" name="SonName" value="@Model.SonName" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Daughter Name</label>
        <input type="text" name="DaughterName" value="@Model.DaughterName" class="form-control">
    </div>
    <button type="button" class="btn btn-secondary">Back</button>
    <button type="submit" class="btn btn-success">Update</button>
</form>

@section scripts{
    <script>
        //alert();
    </script>
}